@font-face {
  font-family: PlutoSansBold;
  src: url(../../assets/fonts/PlutoSansBold.otf);
}

@font-face {
  font-family: PlutoSansMedium;
  src: url(../../assets/fonts//PlutoSansMedium.otf);
}

@font-face {
  font-family: PlutoSansCondBold;
  src: url(../../assets/fonts//PlutoSansCondBold.otf);
}

@font-face {
  font-family: PlutoSansCondMedium;
  src: url(../../assets/fonts//PlutoSansCondMedium.otf);
}

@font-face {
  font-family: PlutoSansCondRegular;
  src: url(../../assets/fonts//PlutoSansCondRegular.otf);
}

@font-face {
  font-family: PlutoSansCondLight;
  src: url(../../assets/fonts//PlutoSansCondLight.otf);
}
@font-face {
  font-family: PlutoSansRegular;
  src: url(../../assets/fonts//PlutoSansRegular.otf);
}