@import url("https://fonts.googleapis.com/css?family=Courgette");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Courgette", "cursive", sans-serif;
  user-select: none;
  overflow: hidden;
}

.container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset;
  background: linear-gradient(#100c08 10%, #555 100%);
}

h1 {
  color: white;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.options div {
  margin: 0 12px;
  display: flex;
}
.options div button {
  font-size: 16px;
  font-family: "Courgette", "cursive", sans-serif;
  color: rgba(236, 225, 225, 0.952);
  background-color: transparent;
  border-color: transparent;
}

.keyboard {
  width: 95%;
  height: 200px;
  display: flex;
  margin: 10px auto 10px;
  position: relative;
}

.black, .white {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 0 0 5px 5px;
  font-family: "Courgette", "cursive", sans-serif;
}

.white {
  height: 100%;
  width: 12.5%;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.white .note {
  position: relative;
}

.white:active {
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

.black {
  height: 70%;
  width: 3%;
  position: absolute;
  z-index: 2;
  margin-left: -1.6%;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}
.black .note {
  position: relative;
  color: white;
  font-size: 12px;
}
@media (max-width: 600px) {
  .black {
    width: 6%;
  }
}
.black.black1 {
  left: 6.7%;
}
.black.black2 {
  left: 13.3%;
}
.black.black3 {
  left: 26.7%;
}
.black.black4 {
  left: 33.4%;
}
.black.black5 {
  left: 40%;
}
.black.black6 {
  left: 53.3%;
}
@media (max-width: 600px) {
  .black.black6 {
    left: 11%;
  }
}
.black.black7 {
  left: 60%;
}
@media (max-width: 600px) {
  .black.black7 {
    left: 23%;
  }
}
.black.black8 {
  left: 73.3%;
}
@media (max-width: 600px) {
  .black.black8 {
    left: 48.5%;
  }
}
.black.black9 {
  left: 80%;
}
@media (max-width: 600px) {
  .black.black9 {
    left: 61%;
  }
}
.black.black10 {
  left: 86.7%;
}
@media (max-width: 600px) {
  .black.black10 {
    left: 73%;
  }
}

.black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(left, #444 0%, #222 100%);
}

@media (max-width: 600px) {
  .oct {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  .container {
    transform: rotate(270deg);
    transform-origin: top left;
    position: absolute;
    top: 170vw;
    left: 0;
    height: 100vw;
    width: 96vh;
    overflow: auto;
    padding-top: 30px;
  }

  .instructions {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
